.rotating-card
  position: relative
  perspective: 150rem
  -moz-perspective: 150rem
  height: 50rem

  &__side
    font-size: 2rem
    color: $color-white
    height: 50rem
    transition: all .8s ease
    position: absolute
    top: 0
    left: 0
    width: 100%
    // hide the back part of the element
    backface-visibility: hidden
    border-radius: 3px
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15)

    &--front
      background-color: $color-white

    &--back
      transform: rotateY(180deg)

      &-primary
        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark)
      &-secondary
        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark)
      &-tertiary
        background-image: linear-gradient(to right bottom, $color-tertiary-light, $color-tertiary-dark)

  &:hover &__side--front
    transform: rotateY(-180deg)

  &:hover &__side--back
    transform: rotateY(0)
